html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	background: #0e0221;
}

body > div {
	position: absolute;
	overflow: hidden;
}
.node {
	stroke: #fff;
	stroke-width: 1.5px;
}

.link {
	stroke: #999;
	stroke-opacity: .6;
}
.childnode {
	stroke: #fff;
	stroke-width: 1.5px;
}

.childlink {
	stroke: #999;
	stroke-opacity: .6;
}
svg:text {
	display: none;
	border-radius: 0;
	color: #f9f9f9;
	background: rgba(244, 244, 244, .6);
	border: 1px dotted rgba(75, 75, 0, .8);
	text-shadow: 0 2px 2px rgba(0, 0, 0, .8);
}
#tools {
	left: 2px;
	top: 2px;
	z-index: 51;
	position: fixed;
	background: rgba(14,2,33,0.6);
	color: #fff;
}
#tools  ul li div{
	display: none;
}
#tools ul li:hover div {
	display: block;
}
#tools li {
	border: 0;
	border-right: 1px dotted rgba(115, 142, 171, 1);
	padding-right: 5px;
	cursor: pointer;
}
#info {
	right: 2px;
	top: 2px;
	z-index: 51;
	position: fixed;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
	background: rgba(14,2,33,0.6);
	border: 1px solid rgba(147, 168, 190, .8);
	color: rgba(147, 168, 190, 1);
	text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
	border-radius: 5px;
	overflow: hidden;
	vertical-align: middle;
}

li {
	margin: 0;
	padding: 4px 2px;
	margin-right: 2px;
	overflow: hidden;
	vertical-align: middle;
	display: inline-block;
}

img {
	display: inline-block;
}

	li:last-child {
	margin-right: 0;
	}

.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #a8a6a8) );
	background:-moz-linear-gradient( center top, #ededed 5%, #a8a6a8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#a8a6a8');
	background-color:#ededed;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Verdana;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a8a6a8), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #a8a6a8 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a8a6a8', endColorstr='#ededed');
	background-color:#a8a6a8;
}.btn:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */

#tooltip {
	right: 2px;
	bottom: 2px;
	padding: .5em;
	background: rgba(88, 116, 147, .8);
	color: rgba(179, 193, 209, 1);
	text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
	border: 1px solid #eee;
	line-height: 1.5em;
	box-shadow: 0 0 8px rgba(0, 0, 0, .5);
	z-index: 999;
	font-family: serif;
	font-size: 11px;
}


#info li {
	border: 0;
	border-right: 1px dotted rgba(115, 142, 171, 1);
	padding-right: 5px;
	cursor: pointer;
}

#info li ul {
	display: none;
	border-radius: 0;
	background: rgba(244, 244, 244, .6);
	border: 1px dotted rgba(75, 75, 0, .8);
	color: #f9f9f9;
	text-shadow: 0 2px 2px rgba(0, 0, 0, .8);
}

#info li li {
	display: block;
	border: 0;
	padding-right: 2px;
}

#info li:last-child {
	border: 0;
}

#info li:hover ul {
	display: block;
}
/*tools, tooltip, and info box reference: artzub.com/d3/wbca/*/