<!-- News Section -->
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">News</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                <ul>
                <h3 class="section-heading">Recent news</h3>
                <hr>
                <li>[Jun 29, 2018] Paper accepted at IROS, 2018.</li>
                <li>[Dec 22, 2017] Paper accepted at AISTATS, 2018.</li>
                <li>[May 15, 2017] Two papers have been accepted at ICML, 2017.</li>
                <li>[Jan 15, 2017] Our paper <a href="https://arxiv.org/abs/1607.07762">Focused Model-Learning and Planning for Non-Gaussian Continuous State-Action Systems</a> has been accepted at ICRA, 2017.</li>
                <li>[Feb 2, 2016] I got my Master of Science in Electrical Engineering and Computer Science.</li>
                <li>[Dec 23, 2015] Our paper <a href="http://arxiv.org/abs/1510.06423">Optimization as Estimation with Gaussian Processes in Bandit Settings</a> has been accepted as oral presentation at AISTATS, 2016.</li>
                <li>[Aug 10, 2015] I am TAing <a href="http://people.csail.mit.edu/stefje/fall15/index.html">6.883 Advanced Machine Learning  —  Learning with Discrete Structure</a> this semester.</li>
                
                <!--<li>[Jul 7, 2014] I finally graduated from Tsinghua University with my Bachelor degree in Computer Science!</li>-->
                
                <h3 class="section-heading">Recent talks/presentations</h3>
                <hr>
                <li>
                    [Jul 3, 2018] Bayesian Optimization Guided by Max-values @ ISMP 2018, Bordeaux, France. [<a href="https://www.icloud.com/keynote/0iOMOD8vx385JepjFFJWCXl4A#bo%5Ftalk">slides</a>]
                </li>
                <li>
                    [Mar 9, 2018] Integrating model learning and TAMP @ LIS, MIT, Cambridge, MA. [slides available upon request]
                </li>
                <li>
                    [Nov 30, 2017] Bayesian Optimization and How to Scale It Up @ Computer Science Colloquium, University of Southern California, Los Angeles, CA. [<a href="http://zi-wang.com/pub/bo_talk_usc.pdf">slides</a>]
                </li>
                <li>
                    [Aug 9, 2017] Max-value Entropy Search for Efficient Bayesian Optimization @ ICML 2017, Sydney, Australia. [<a href="https://www.icloud.com/keynote/0FxhBnGLGBPCopqQH_v8xF_Vw#maxvalue">slides</a>] [<a href="https://vimeo.com/238266740">video</a>]
                </li>
                <li>
                    [Aug 7, 2017] Batched High-dimensional Bayesian Optimization via Structural Kernel Learning @ ICML 2017, Sydney, Australia. [<a href="https://www.icloud.com/keynote/0LBVoOAXm9JJIzgKlqpjrQThA#skl">slides</a>] [<a href="https://vimeo.com/240609525">video</a>]
                </li>
                <li>
                    [Jun 20, 2017] (remote talk) Scaling up Bayesian Optimization with Ensembles @ DeepMind, London, UK. [<a href="https://www.icloud.com/keynote/0S9h7NGDRCeHW6UsrynsVhO_g#ebo%5Ftalk%5Fdeepmind">slides</a>]
                </li>
                <li>
                    [Jun 16, 2017] Focused Model-Learning and Planning for Non-Gaussian Continuous State-Action Systems @ Uber ATG, Pittsburgh, PA.
                </li>
                <li>
                    [Jun 7, 2017] Focused Model-Learning and Planning for Non-Gaussian Continuous State-Action Systems @ The Manipulation Lab, CMU Robotics Institute, Pittsburgh, PA.
                </li>
                <li>
                    [May 31, 2017] Focused Model-Learning and Planning for Non-Gaussian Continuous State-Action Systems @ ICRA 2017, Singapore. [<a href="https://www.icloud.com/keynote/05MjagIrd2K58FRb4KqjoL7rg#poster">poster</a>][<a href="https://www.icloud.com/keynote/0SYOebCF3GXhkYjnf0Q0Jn5Uw#talk">slides</a>]
                </li>
                <li>
                    [Apr 28, 2017] Challenges in Long-horizon Planning and How to Learn a "Few-shot" Precondition Generator @ LIS, MIT, Cambridge, MA. [slides available upon request]
                </li>
                <li>
                    [May 9, 2016] Optimization as Estimation with Gaussian Processes in Bandit Settings @ AISTATS 2016, Cadiz, Spain. [<a href="http://zi-wang.com/pub/gpest_slides.pdf">slides</a>]
                </li>
                <li>
                    [May 2, 2016] Optimization as Estimation with Gaussian Processes in Bandit Settings @ Machine Learning Tea, MIT, Cambridge, MA.
                </li>
                </ul>
                </div>
                <div class="col-md-1"></div>
            </div>
            <!--<div class="row text-left">
                <div class="col-md-1"></div>
                <div class="col-lg-10 intro-text">
                
                
                </div>
                <div class="col-md-1"></div>
            </div>-->
        </div>
        
        
    </section>
