img.img_responsive{max-width:100%;height:auto;display:block}
div.authors a:link,
div.authors a:visited{color:#000000}
div.header,div.container,div.content,div.img,div.text{display:inline-block;zoom:1;display*:inline;text-align:left;margin-left:auto;margin-right:auto;vertical-align:middle;max-width:960px}
div.header,div.container{min-width:330px}
div.img,div.text{padding-left:10px;padding-right:10px}
div.header{line-height:50px}
div.ftheader,div.ftsubheader{display:inline-block;color:#FFF}
div.ftheader{float:left;padding-left:15px;font-size:120%}
div.ftsubheader{float:right;padding-left:20px;padding-right:20px}
div.outercontainer,div.content{padding-top:0px;padding-bottom:0px}
div.container,div.content{width:100%}
div.body{margin-top:50px}
div.content{margin-bottom:10px}
div.heading{text-align:left;position:relative;z-index:1}
div.heading div.img{padding:30px 30px 30px 10px;max-width:30%}
div.heading div.img img{width:200px}
div.heading span.tag{padding-right:15px}
div.heading ul{padding-bottom:0px}
div.publication{padding-top:0px;padding-bottom:20px}
div.publication div.img{max-width:300px;padding-right:0px}
div.publication div.text{max-width:650px;text-align:left}
span.venue{color:#882222}
span.venue,span.tag{padding-right:8px}
span.venue a:link,
span.venue a:visited{color:#882222}
span.fullvenue{padding-left:8px}
div.anchor{border-top:50px solid transparent;margin-top:-50px}
@media only screen and (max-width: 599px) {
    div.ftsubheader{padding-left:10px;padding-right:10px}
    div.heading div.img{padding-right:10px}
    div.publication div.img{display:none}
    div.publication div.text{text-align:left}
    div.content,div.publication{padding-top:0px;padding-bottom:10px}
    body{font-size:80%}
}
@media only screen and (min-width: 600px) {
    div.heading div.img{padding-right:calc(8% - 30px)}
    div.heading div.info{padding-right:calc(30% - 200px)}
    div.publication div.img{max-width:23%}
    div.publication div.text{max-width:70%;text-align:left}
}